<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Modulos destinos TudoAzul</title>

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
    integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>

  <script src="build/js/source.js"></script>

  <link rel="stylesheet" type="text/css" href="build/css/style.min.css">

  <link rel="stylesheet" type="text/css" href="build/css/cores.css">

</head>

<div class="container">


  <!--
    <div id="mod_geral" class="container_destinos">

      <div class="atomo_destinos">
        <div>
          <div style="background-image: url(build/images/destino.jpg); min-height: 200px; background-size: cover;">
          </div>

          <div class="atomo-padding-lf-rg-10">
            <div class="atomo-padding-10 atomo-bord-bottom-1px ">

              <h3 class="atomo-font-size-32 atomo-font-wg-400 atomo-text-cinza-escuro atomo-margin-bt-0">Rio de
                Janeiro
              </h3>


              <div
                class="atomo-ds-flex atomo-flex-desk-direction-row atomo-flex-mb-direction-column atomo-width-desk-100 atomo-align-items-center">

                <div class="atomo-width-desk-50 atomo-width-mb-100">
                  <h6 class="atomo-font-size-20 atomo-font-wg-200 atomo-text-cinza-escuro">Partindo de São Paulo</h6>
                </div>


                <div
                  class="atomo-width-desk-50 atomo-width-mb-100 atomo-ds-flex atomo-desk-justify-content-end atomo-mb-justify-content-start atomo-desk-height-100">
                  <img src="build/images/parceiro_tap.png" class="img-responsive">
                </div>

              </div>

            </div>

          </div>


          <div class="atomo-padding-10">

            <div id="addos_mod7" class="addos atomo-padding-lf-rg-10 atomo-font-size-16 atomo-text-cinza-medio ">
              A partir de:

              <div
                class="atomo-ds-flex atomo-ds-mb-block atomo-ds-mb2-block atomo-ds-desk-block atomo-width-desk-100 atomo-flex-mb-mini-direction-column"
                style="justify-content: space-between;" id="addos_modulo_7">

                <div
                  class=" atomo-font-size-32 atomo-text-azul-clarissimo atomo-font-wg-600  atomo-align-items-baseline">

                  <div class="atomo-float-left atomo-desk-margin-bt--10 atomo-mb-margin-bt--10">
                    <strong>31.000&nbsp;</strong>
                  </div>

                  <div class="atomo-ds-inline-block atomo-font-size-16 atomo-font-wg-400">pontos</div>

                </div>

                <div
                  class=" atomo-font-size-32 atomo-text-azul-clarissimo atomo-font-wg-600  atomo-align-items-baseline">
                  <div class="atomo-float-left atomo-desk-margin-bt--10 atomo-mb-margin-bt--10 atomo-text-cinza-medio">
                    <strong>+&nbsp;</strong>
                  </div>
                </div>

                <div
                  class=" atomo-font-size-32 atomo-text-azul-clarissimo atomo-font-wg-600  atomo-align-items-baseline">

                  <div class="atomo-float-left atomo-desk-margin-bt--10 atomo-mb-margin-bt--10">
                    <strong>R$ 123,00&nbsp;</strong>
                  </div>
                  <div class=" atomo-ds-inline-block atomo-font-size-16 atomo-font-wg-400">+ taxas</div>

                </div>

                <div class="atomo-width-mb-100 atomo-ds-flex atomo-desk-height-100 atomo-desk-justify-content-start">

                  <input type="button"
                    class="atomo-bg-azul-escuro atomo-text-branco atomo-margin-top-10 atomo-font-size-16 atomo-btn-resgate"
                    value="Resgate já">

                </div>

              </div>
            </div>


            <div id="addos_mod6" class="addos atomo-padding-lf-rg-10 atomo-font-size-16 atomo-text-cinza-medio ">
              De: <span class="atomo-text-decoration-line-through atomo-font-wg-600">123.000</span> pontos por a
              partir
              de:

              <div class="container_destinos_interno  atomo-align-items-center atomo-ds-mb-mini-block">

                <div
                  class="atomo_destinos_descritivo atomo-font-size-32 atomo-text-azul-escuro atomo-font-wg-600 atomo-margin-0">
                  <h1 class="atomo-margin-0">
                    <strong class="atomo-font-size-16 atomo-font-wg-400">
                      Cliente <strong>Diamante</strong>
                    </strong>
                    <br>
                    <strong>105.000&nbsp;</strong>
                    <div class="atomo-font-size-16 atomo-font-wg-400">pontos + taxas</div>
                  </h1>
                </div>

                <div
                  class="atomo_destinos_descritivo atomo-font-size-32 atomo-text-azul-clarissimo atomo-font-wg-600 atomo-margin-0">
                  <h1 class="atomo-margin-0">
                    <strong class="atomo-font-size-16 atomo-font-wg-400">
                      Cliente <strong>Diamante</strong>
                    </strong>
                    <br>
                    <strong>115.000&nbsp;</strong>
                    <div class="atomo-font-size-16 atomo-font-wg-400">pontos + taxas</div>
                  </h1>
                </div>

                <div
                  class="atomo_destinos_descritivo atomo-width-mb-100 atomo-ds-flex atomo-desk-justify-content-start atomo-mb-justify-content-start atomo-desk-height-100 atomo-margin-0">
                  <input type="button"
                    class="atomo-bg-azul-escuro atomo-text-branco atomo-margin-top-10 atomo-font-size-16 atomo-btn-resgate"
                    value="Resgate já">
                </div>

              </div>

            </div>


          </div>

        </div>

      </div>

    </div>
  -->

  <div class="container_destinos" id="mod3">

    <div class="atomo_destinos">
      <div>
        <div style="background-image: url(build/images/destino.jpg); min-height: 200px; background-size: cover;">
        </div>

        <div class="atomo-padding-lf-rg-10">
          <div class="atomo-padding-10 atomo-bord-bottom-1px ">

            <h3 class="atomo-font-size-32 atomo-font-wg-400 atomo-text-cinza-escuro atomo-margin-bt-0">Rio de
              Janeiro
            </h3>


            <div
              class="atomo-ds-flex atomo-flex-desk-direction-row atomo-flex-mb-direction-column atomo-width-desk-100 atomo-align-items-center">

              <div class="atomo-width-desk-50 atomo-width-mb-100">
                <h6 class="atomo-font-size-20 atomo-font-wg-200 atomo-text-cinza-escuro">Partindo de São Paulo</h6>
              </div>


              <div
                class="atomo-width-desk-50 atomo-width-mb-100 atomo-ds-flex atomo-desk-justify-content-end atomo-mb-justify-content-start atomo-desk-height-100">
                <img src="build/images/parceiro_tap.png" class="img-responsive">
              </div>

            </div>

          </div>

        </div>

        <div class="atomo-padding-10">



          <div id="addos_modulo_7" class="atomo-padding-lf-rg-10 atomo-font-size-16 atomo-text-cinza-medio ">
            A partir de:

            <div
              class="atomo-ds-flex atomo-ds-mb-block atomo-ds-mb2-block atomo-ds-desk-block atomo-width-desk-100 atomo-flex-mb-mini-direction-column"
              style="justify-content: space-between;" id="addos_modulo_7">

              <div class=" atomo-font-size-32 atomo-text-azul-clarissimo atomo-font-wg-600  atomo-align-items-baseline">

                <div class="atomo-float-left atomo-desk-margin-bt--10 atomo-mb-margin-bt--10">
                  <strong>31.000&nbsp;</strong>
                </div>

                <div class="atomo-ds-inline-block atomo-font-size-16 atomo-font-wg-400">pontos</div>

              </div>

              <div class=" atomo-font-size-32 atomo-text-azul-clarissimo atomo-font-wg-600  atomo-align-items-baseline">
                <div class="atomo-float-left atomo-desk-margin-bt--10 atomo-mb-margin-bt--10 atomo-text-cinza-medio">
                  <strong>+&nbsp;</strong>
                </div>
              </div>

              <div class=" atomo-font-size-32 atomo-text-azul-clarissimo atomo-font-wg-600  atomo-align-items-baseline">

                <div class="atomo-float-left atomo-desk-margin-bt--10 atomo-mb-margin-bt--10">
                  <strong>R$ 123,00&nbsp;</strong>
                </div>
                <div class=" atomo-ds-inline-block atomo-font-size-16 atomo-font-wg-400">+ taxas</div>

              </div>

              <div class="atomo-width-mb-100 atomo-ds-flex atomo-desk-height-100 atomo-desk-justify-content-start">

                <input type="button"
                  class="atomo-bg-azul-escuro atomo-text-branco atomo-margin-top-10 atomo-font-size-16 atomo-btn-resgate"
                  value="Resgate já">

              </div>

            </div>
          </div>

          <div id="addos_modulo_6">

            <div class="atomo-padding-lf-rg-10 atomo-font-size-16 atomo-text-cinza-medio ">
              De: <span class="atomo-text-decoration-line-through atomo-font-wg-600">123.000</span> pontos por a
              partir
              de:
            </div>

            <div class="container_destinos_interno  atomo-align-items-center atomo-ds-mb-mini-block"
              id="addos_modulo_6">

              <div
                class="atomo_destinos_descritivo atomo-font-size-32 atomo-text-azul-escuro atomo-font-wg-600 atomo-margin-0">
                <h1 class="atomo-margin-0">
                  <strong class="atomo-font-size-16 atomo-font-wg-400">
                    Cliente <strong>Diamante</strong>
                  </strong>
                  <br>
                  <strong>105.000&nbsp;</strong>
                  <div class="atomo-font-size-16 atomo-font-wg-400">pontos + taxas</div>
                </h1>
              </div>

              <div
                class="atomo_destinos_descritivo atomo-font-size-32 atomo-text-azul-clarissimo atomo-font-wg-600 atomo-margin-0">
                <h1 class="atomo-margin-0">
                  <strong class="atomo-font-size-16 atomo-font-wg-400">
                    Cliente <strong>Diamante</strong>
                  </strong>
                  <br>
                  <strong>115.000&nbsp;</strong>
                  <div class="atomo-font-size-16 atomo-font-wg-400">pontos + taxas</div>
                </h1>
              </div>

              <div
                class="atomo_destinos_descritivo atomo-width-mb-100 atomo-ds-flex atomo-desk-justify-content-start atomo-mb-justify-content-start atomo-desk-height-100 atomo-margin-0">
                <input type="button"
                  class="atomo-bg-azul-escuro atomo-text-branco atomo-margin-top-10 atomo-font-size-16 atomo-btn-resgate"
                  value="Resgate já">
              </div>

            </div>

          </div>


        </div>

      </div>

    </div>

  </div>

</div>