@mixin button($name, $color, $color2) {
    $btn: "." + $name;
     #{$btn},
      a#{$btn},
      button#{$btn}{
        color: $color2;
        background: $color;
      }
      a#{$btn}{
        &:link,
        &:visited{
          color: $color2;
          background: $color;
        }
      }
      a#{$btn},
      button#{$btn}{
        &:hover,
        &:focus,
        &:active{
          color: $color2;
          background: $color;
        }
      }
      #{$btn}.inverse,
          a#{$btn}.inverse,
          button#{$btn}.inverse{
            color: $color;
            border-color: $color;
          }
          a#{$btn}.inverse{
            &:link,
            &:visited{
                color: $color;
                border-color: $color;
            }
          }
          a#{$btn}.inverse,
          button#{$btn}.inverse{
            &:hover,
            &:focus,
            &:active{
                color: $color;
                border-color: $color;
            }
          }
  }