$atomo-azul:#026cb6;
$atomo-azul-escuro:#041e42;
$atomo-azul-medio:#014e84;
$atomo-azul-claro:#0093d0;
$atomo-azul-clarissimo:#13b5ea;

$atomo-verde: #05adab;
$atomo-verde-claro: #81de76;
$atomo-verde-clarissimo: #ccff8c;

$atomo-rosa:#f7bebe;

$atomo-cinza: #9a9a9a;
$atomo-cinza-escuro: #606060;
$atomo-cinza-medio: #808080;
$atomo-cinza-claro: #ebebeb;
$atomo-branco:#ffffff;

/*Azul*/
.atomo-bg-azul{
    background: $atomo-azul
}
.atomo-bg-azul-escuro{
    background: $atomo-azul-escuro
}
.atomo-bg-azul-medio{
    background: $atomo-azul-medio
}
.atomo-bg-azul-claro{
    background: $atomo-azul-claro
}
.atomo-bg-azul-clarissimo{
    background: $atomo-azul-clarissimo
}
.atomo-text-azul{
    color: $atomo-azul
}
.atomo-text-azul-escuro{
    color: $atomo-azul-escuro
}
.atomo-text-azul-medio{
    color: $atomo-azul-medio
}
.atomo-text-azul-claro{
    color: $atomo-azul-claro
}
.atomo-text-azul-clarissimo{
    color: $atomo-azul-clarissimo
}
.atomo-border-azul{
    border-color: $atomo-azul
}
.atomo-border-azul-escuro{
    border-color: $atomo-azul-escuro
}
.atomo-border-azul-medio{
    border-color: $atomo-azul-medio
}
.atomo-border-azul-claro{
    border-color: $atomo-azul-claro
}
.atomo-border-azul-clarissimo{
    border-color: $atomo-azul-clarissimo
}
/*Verde*/
.atomo-bg-verde{
    background: $atomo-verde
}
.atomo-bg-verde-claro{
    background: $atomo-verde-claro
}
.atomo-bg-verde-clarissimo{
    background: $atomo-verde-clarissimo
}
.atomo-text-verde{
    color: $atomo-verde
}
.atomo-text-verde-claro{
    color: $atomo-verde-claro
}
.atomo-text-verde-clarissimo{
    color: $atomo-verde-clarissimo
}
.atomo-border-verde{
    border-color: $atomo-verde
}
.atomo-border-verde-claro{
    border-color: $atomo-verde-claro
}
.atomo-border-verde-clarissimo{
    border-color: $atomo-verde-clarissimo
}

/*Rosa*/
.atomo-bg-rosa{
    background: $atomo-rosa
}
.atomo-text-rosa{
    color: $atomo-rosa
}
.atomo-border-rosa{
    border-color: $atomo-rosa
}
/*Cinza*/
.atomo-bg-cinza{
    background: $atomo-cinza
}
.atomo-bg-cinza-escuro{
    background: $atomo-cinza-escuro
}
.atomo-bg-cinza-medio{
    background: $atomo-cinza-medio
}
.atomo-bg-cinza-claro{
    background: $atomo-cinza-claro
}
.atomo-text-cinza{
    color: $atomo-cinza
}
.atomo-text-cinza-escuro{
    color: $atomo-cinza-escuro
}
.atomo-text-cinza-medio{
    color: $atomo-cinza-medio
}
.atomo-text-cinza-claro{
    color: $atomo-cinza-claro
}
.atomo-border-cinza{
    border-color: $atomo-cinza
}
.atomo-border-cinza-escuro{
    border-color: $atomo-cinza-escuro
}
.atomo-border-cinza-medio{
    border-color: $atomo-cinza-medio
}
.atomo-border-cinza-claro{
    border-color: $atomo-cinza-claro
}
/*Branco*/
.atomo-bg-branco{
    background: $atomo-branco
}
.atomo-text-branco{
    color: $atomo-branco
}
.atomo-border-branco{
    border-color: $atomo-branco
}
