.atomo-kv{
    position:relative;
    float: left;
    width: 100%;        
    overflow: hidden;
}
.atomo-kv-item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
}   

