@import 'cores'
@import 'mixins/font-face'
@import 'mixins/button'
/*Font-face*/
@include font-face( AzulHelveticaNeue, /assets/fonts/HelveticaNeueLTStd-Th, 200, normal, woff)
@include font-face( AzulHelveticaNeue, /assets/fonts/HelveticaNeueLTStd-Lt, 300, normal, woff)
@include font-face( AzulHelveticaNeue, /assets/fonts/Helvetica, 400, normal, woff)
@include font-face( AzulHelveticaNeue, /assets/fonts/HelveticaNeueLTStd-Bd, 500, normal, woff)
/*body*/
body
    font-family: 'AzulHelveticaNeue'
    font-size: 16px
    color: $atomo-azul-escuro

/*deafult links*/
a:link, a:visited, a:hover
    text-decoration: none

a:link, a:visited
    color: $atomo-azul-medio

a:hover, a:focus, a:active
    color: $atomo-azul-claro
/*default head titles*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li
    padding: 0px
    margin: 0px

h1, .h1
    font-size: 32px

h2, .h2
    font-size: 28px

h3, .h3
    font-size: 26px

h4, .h4
    font-size: 22px

h5, .h5
    font-size: 18px

h6, .h6
    font-size: 14px

/*alternative headtitles*/
.atomo-font-larger-1
    font-size: 52px
    line-height: 1.2

.atomo-font-larger-2
    font-size: 48px
    line-height: 1.2

.atomo-font-larger-3
    font-size: 44px
    line-height: 1.2

.atomo-font-larger-4
    font-size: 40px
    line-height: 1.2

/*alternative weight fonts*/
.atomo-font-light
    font-weight: 300

.atomo-font-normal
    font-weight: 400

.atomo-font-bold
    font-weight: 500

.atomo-font-bolder
    font-weight: 700

/*default button no background*/
/*deafult button*/
a.atomo-btn, button.atomo-btn,
a.atomo-btn:visited
    padding: 0px 20px
    height: 40px
    font-size: 16px
    border: 1px solid transparent
    display: inline-block
    border-radius: 2px
    line-height: 40px
    font-weight: 600
    cursor: pointer
    background: $atomo-azul
    color: $atomo-branco
    opacity: .9

.atomo-btn.inverse
    background: none !important

.atomo-btn.block
    display: block !important
    text-align: center

@include button(atomo-btn-azul-escuro, $atomo-azul-escuro, $atomo-branco)
@include button(atomo-btn-azul-medio, $atomo-azul-medio, $atomo-branco)
@include button(atomo-btn-azul-claro, $atomo-azul-claro, $atomo-branco)
@include button(atomo-btn-azul-clarissimo, $atomo-azul-clarissimo, $atomo-branco)

@include button(atomo-btn-verde, $atomo-verde, $atomo-branco)
@include button(atomo-btn-verde-claro, $atomo-verde-claro, $atomo-branco)    
@include button(atomo-btn-verde-clarissimo, $atomo-verde-clarissimo, $atomo-branco)

@include button(atomo-btn-rosa, $atomo-rosa, $atomo-branco)
@include button(atomo-btn-branco, $atomo-branco, $atomo-azul-escuro)
