@import 'main';

#atomo-kv-tv-flash{
    height: 100vh;
    max-height: 500px;
    overflow: hidden;
    .atomo-kv-item{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;        
        >picture,
        >img{
            position: absolute;
            float: left;
            top: 0px;
            bottom:0px;
            left: unset;
            right: unset;
            z-index: -1;
        }        
    } 
    .atomo-kv-item-content,
    .atomo-kv-border-top-right-left,
    .atomo-kv-border-right-bottom-left,
    .atomo-kv-legend{
        position: relative;
        float: left;
        width: 100%;
    }   
    .atomo-kv-border-top-right-left{
        height: 30px;
    }
    .atomo-kv-border-right-bottom-left{
        padding: 15px 30px 0px 30px;
    }
    .atomo-kv-item-content{        
        width: 1180px;
        height: 100%;
    }
    .atomo-kv-legend{
        position: relative;
        float: left;
        width: 435px;        
        margin-top: 60px;
        margin-left: 30px;
    }
    .atomo-kv-square,
    .atomo-kv-square > div{
        position: absolute;
        float: left;        
    }
    .atomo-kv-square{
        width:80px;
        height:80px;
        right: -40px;
        top: -20px;
        > div{
            width: 40px;
            height: 40px;
            right: -20px;
            bottom: -20px;
        }
    }
    h3, h4{
        display: block;
        margin: 0px;
        padding: 0px;
    }
    h3{
        font-size: 30px;
        line-height: 30px;  
        padding-left:30px;    
    }
    h4{
        font-size: 20px;
        line-height: 20px;
        margin: 0 0 20px 0;    
        font-weight: 300;      
    }
    .atomo-kv-footer-area{
        position: relative;
        float: left;
        width: 100%;
        padding: 0 0 30px 0px;        
    } 
    .atomo-kv-clube-area{
        position: absolute;
        float: left;
        width: 240px;
        height: 140px;
        right: -70px;
        top: 0;
        >img{
            display: block;
            max-width: 100%;
        }
    }
    .parthner-image{
        position: absolute;
        float: left;
        right: 50px;
        bottom: 0px;
    }
    .parthner-image > img{
        max-width: 100%;
    }
    .atomo-tv-flash-institucional{
        .atomo-kv-legend{
            background: none !important;  
            border-right-style: solid;
            border-right-width: 2px;
            margin-left: 30px;
        }
        .atomo-kv-border-top-right-left,
        .atomo-kv-border-right-bottom-left{                
            border-left-style: solid;
            border-left-width: 2px;       
        }          
        .atomo-kv-border-top-right-left{
            border-top-style: solid;
            border-top-width: 2px;
            height: 15px;
        }
        .atomo-kv-border-right-bottom-left{               
            border-bottom-style: solid;
            border-bottom-width: 2px;
            padding-top: 0px;
            padding-left: 15px;
        }
        h3{
            float: left;
            padding-left: 0px;
            margin: 15px 0px 15px -25px;
        }
        .atomo-kv-footer-area{
            padding-bottom: 28px;
        }
        
    }
}
@media screen and (max-width:1024px){
    #atomo-kv-tv-flash {
        .atomo-kv-item-content{
            width: calc(100% - 20px);
        }
        .atomo-kv-legend{
            margin-left: 0px;
        }
        .parthner-image{
            right: 0px;
        }
    }
}

@media screen and (max-width:800px){
    #atomo-kv-tv-flash{
        max-height: 400px;        
        .atomo-kv-item-content{
            width: 59.89%;
        }
        .atomo-kv-legend{
            position: relative;
            float: left;
            width: calc(100% - 50px);
            margin-top: 20px;
            margin-left: 10px;
        }
        .atomo-kv-border-top-right-left{
            height: 15px;
        }
        .atomo-kv-border-right-bottom-left{
            padding: 7px 15px 0px 15px;
        }
        .atomo-kv-square{
            width:40px;
            height:40px;
            right: -20px;
            top: -10px;
            > div{
                width: 20px;
                height: 20px;
                right: -10px;
                bottom: -10px;
            }
        }
        h3{
            font-size: 21px;
            line-height: 21px;    
            padding-left: 15px;          
        }
        h4{
            font-size: 14px;
            line-height: 14px;
            margin-bottom: 12px;
        }  
        .atomo-kv-footer-area{
            padding-bottom: 15px;
        }
        .parthner-image{
            right: 10px;        
            max-width: 150px;
        }
        .atomo-kv-clube-area{
            width: 120px;
            height: 70px;
            right: -35px;
            top: 0px;                  
        }
        .atomo-tv-flash-institucional{
            .atomo-kv-legend{
                border-right-width: 2px;
            }
            .atomo-kv-border-top-right-left,
            .atomo-kv-border-right-bottom-left{                
                border-left-width: 2px;       
            }          
            .atomo-kv-border-top-right-left{
                border-top-width: 2px;
                height: 8px;
            }
            .atomo-kv-border-right-bottom-left{               
                border-bottom-width: 2px;
            }
            h3{
                margin: 7px 0px 7px -18px;
            }
            .atomo-kv-footer-area{
                padding-bottom: 13px;
            }
        }
        
    }
    

}
@media screen and (max-width:576px){
    #atomo-kv-tv-flash{
        .atomo-kv-item{
            > picture,
            > picture > img {
              left: unset;
              right: unset;
          }
        } 
        .atomo-kv-item-content{
            width: 100%;
        }
        .atomo-kv-legend{
            width: calc(100% - 50px);
        }
        .atomo-tv-flash-institucional{
            .atomo-kv-legend {
                width: calc(100% - 55px);
                margin-left: 20px;
                border-right-width:1px;
            }
            h3{
                margin: 7px 0px 7px -10px;
            }
            .atomo-kv-border-right-bottom-left{
                padding-left: 10px;
                padding-right: 10px;
                border-bottom-width: 1px;
            }
            .atomo-kv-border-top-right-left,
            .atomo-kv-border-right-bottom-left{                
                border-left-width: 1px;       
            }          
            .atomo-kv-border-top-right-left{
                border-top-width: 1px;
            }
            .atomo-kv-footer-area{
                padding-bottom: 10px;
            }
        }
    }      
}