/*Azul*/
.atomo-bg-azul {
  background: #026cb6; }

.atomo-bg-azul-escuro {
  background: #041e42; }

.atomo-bg-azul-medio {
  background: #014e84; }

.atomo-bg-azul-claro {
  background: #0093d0; }

.atomo-bg-azul-clarissimo {
  background: #13b5ea; }

.atomo-text-azul {
  color: #026cb6; }

.atomo-text-azul-escuro {
  color: #041e42; }

.atomo-text-azul-medio {
  color: #014e84; }

.atomo-text-azul-claro {
  color: #0093d0; }

.atomo-text-azul-clarissimo {
  color: #13b5ea; }

.atomo-border-azul {
  border-color: #026cb6; }

.atomo-border-azul-escuro {
  border-color: #041e42; }

.atomo-border-azul-medio {
  border-color: #014e84; }

.atomo-border-azul-claro {
  border-color: #0093d0; }

.atomo-border-azul-clarissimo {
  border-color: #13b5ea; }

/*Verde*/
.atomo-bg-verde {
  background: #05adab; }

.atomo-bg-verde-claro {
  background: #81de76; }

.atomo-bg-verde-clarissimo {
  background: #ccff8c; }

.atomo-text-verde {
  color: #05adab; }

.atomo-text-verde-claro {
  color: #81de76; }

.atomo-text-verde-clarissimo {
  color: #ccff8c; }

.atomo-border-verde {
  border-color: #05adab; }

.atomo-border-verde-claro {
  border-color: #81de76; }

.atomo-border-verde-clarissimo {
  border-color: #ccff8c; }

/*Rosa*/
.atomo-bg-rosa {
  background: #f7bebe; }

.atomo-text-rosa {
  color: #f7bebe; }

.atomo-border-rosa {
  border-color: #f7bebe; }

/*Cinza*/
.atomo-bg-cinza {
  background: #9a9a9a; }

.atomo-bg-cinza-escuro {
  background: #606060; }

.atomo-bg-cinza-medio {
  background: #808080; }

.atomo-bg-cinza-claro {
  background: #ebebeb; }

.atomo-text-cinza {
  color: #9a9a9a; }

.atomo-text-cinza-escuro {
  color: #606060; }

.atomo-text-cinza-medio {
  color: #808080; }

.atomo-text-cinza-claro {
  color: #ebebeb; }

.atomo-border-cinza {
  border-color: #9a9a9a; }

.atomo-border-cinza-escuro {
  border-color: #606060; }

.atomo-border-cinza-medio {
  border-color: #808080; }

.atomo-border-cinza-claro {
  border-color: #ebebeb; }

/*Branco*/
.atomo-bg-branco {
  background: #ffffff; }

.atomo-text-branco {
  color: #ffffff; }

.atomo-border-branco {
  border-color: #ffffff; }

/*# sourceMappingURL=cores.css.map */
