/*Azul*/
.atomo-bg-azul {
  background: #026cb6; }

.atomo-bg-azul-escuro {
  background: #041e42; }

.atomo-bg-azul-medio {
  background: #014e84; }

.atomo-bg-azul-claro {
  background: #0093d0; }

.atomo-bg-azul-clarissimo {
  background: #13b5ea; }

.atomo-text-azul {
  color: #026cb6; }

.atomo-text-azul-escuro {
  color: #041e42; }

.atomo-text-azul-medio {
  color: #014e84; }

.atomo-text-azul-claro {
  color: #0093d0; }

.atomo-text-azul-clarissimo {
  color: #13b5ea; }

.atomo-border-azul {
  border-color: #026cb6; }

.atomo-border-azul-escuro {
  border-color: #041e42; }

.atomo-border-azul-medio {
  border-color: #014e84; }

.atomo-border-azul-claro {
  border-color: #0093d0; }

.atomo-border-azul-clarissimo {
  border-color: #13b5ea; }

/*Verde*/
.atomo-bg-verde {
  background: #05adab; }

.atomo-bg-verde-claro {
  background: #81de76; }

.atomo-bg-verde-clarissimo {
  background: #ccff8c; }

.atomo-text-verde {
  color: #05adab; }

.atomo-text-verde-claro {
  color: #81de76; }

.atomo-text-verde-clarissimo {
  color: #ccff8c; }

.atomo-border-verde {
  border-color: #05adab; }

.atomo-border-verde-claro {
  border-color: #81de76; }

.atomo-border-verde-clarissimo {
  border-color: #ccff8c; }

/*Rosa*/
.atomo-bg-rosa {
  background: #f7bebe; }

.atomo-text-rosa {
  color: #f7bebe; }

.atomo-border-rosa {
  border-color: #f7bebe; }

/*Cinza*/
.atomo-bg-cinza {
  background: #9a9a9a; }

.atomo-bg-cinza-escuro {
  background: #606060; }

.atomo-bg-cinza-medio {
  background: #808080; }

.atomo-bg-cinza-claro {
  background: #ebebeb; }

.atomo-text-cinza {
  color: #9a9a9a; }

.atomo-text-cinza-escuro {
  color: #606060; }

.atomo-text-cinza-medio {
  color: #808080; }

.atomo-text-cinza-claro {
  color: #ebebeb; }

.atomo-border-cinza {
  border-color: #9a9a9a; }

.atomo-border-cinza-escuro {
  border-color: #606060; }

.atomo-border-cinza-medio {
  border-color: #808080; }

.atomo-border-cinza-claro {
  border-color: #ebebeb; }

/*Branco*/
.atomo-bg-branco {
  background: #ffffff; }

.atomo-text-branco {
  color: #ffffff; }

.atomo-border-branco {
  border-color: #ffffff; }

/*Font-face */
@font-face {
  font-family: "AzulHelveticaNeue";
  font-style: normal;
  font-weight: 200;
  src: url("/assets/fonts/HelveticaNeueLTStd-Th.woff") format("woff"); }
@font-face {
  font-family: "AzulHelveticaNeue";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/HelveticaNeueLTStd-Lt.woff") format("woff"); }
@font-face {
  font-family: "AzulHelveticaNeue";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Helvetica.woff") format("woff"); }
@font-face {
  font-family: "AzulHelveticaNeue";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/HelveticaNeueLTStd-Bd.woff") format("woff"); }
/*body */


/*deafult links */
a:link, a:visited, a:hover {
  text-decoration: none; }

a:link, a:visited {
  color: #014e84; }

a:hover, a:focus, a:active {
  color: #0093d0; }

/*default head titles */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0px;
  margin: 0px; }

h1, .h1 {
  font-size: 32px; }

h2, .h2 {
  font-size: 28px; }

h3, .h3 {
  font-size: 26px; }

h4, .h4 {
  font-size: 22px; }

h5, .h5 {
  font-size: 18px; }

h6, .h6 {
  font-size: 14px; }

/*alternative headtitles */
.atomo-font-larger-1 {
  font-size: 52px;
  line-height: 1.2; }

.atomo-font-larger-2 {
  font-size: 48px;
  line-height: 1.2; }

.atomo-font-larger-3 {
  font-size: 44px;
  line-height: 1.2; }

.atomo-font-larger-4 {
  font-size: 40px;
  line-height: 1.2; }

/*alternative weight fonts */
.atomo-font-light {
  font-weight: 300; }

.atomo-font-normal {
  font-weight: 400; }

.atomo-font-bold {
  font-weight: 500; }

.atomo-font-bolder {
  font-weight: 700; }

/*default button no background */
/*deafult button */
a.atomo-btn, button.atomo-btn,
a.atomo-btn:visited {
  padding: 0px 20px;
  height: 40px;
  font-size: 16px;
  border: 1px solid transparent;
  display: inline-block;
  border-radius: 2px;
  line-height: 35px;
  font-weight: bold;
  cursor: pointer;
  background: #026cb6;
  color: #ffffff;
  opacity: 0.9; }

.atomo-btn.inverse {
  background: none !important; }

.atomo-btn.block {
  display: block !important;
  text-align: center; }

.atomo-btn-azul-escuro,
a.atomo-btn-azul-escuro,
button.atomo-btn-azul-escuro {
  color: #ffffff;
  background: #041e42; }

a.atomo-btn-azul-escuro:link, a.atomo-btn-azul-escuro:visited {
  color: #ffffff;
  background: #041e42; }

a.atomo-btn-azul-escuro:hover, a.atomo-btn-azul-escuro:focus, a.atomo-btn-azul-escuro:active,
button.atomo-btn-azul-escuro:hover,
button.atomo-btn-azul-escuro:focus,
button.atomo-btn-azul-escuro:active {
  color: #ffffff;
  background: #041e42; }

.atomo-btn-azul-escuro.inverse,
a.atomo-btn-azul-escuro.inverse,
button.atomo-btn-azul-escuro.inverse {
  color: #041e42;
  border-color: #041e42; }

a.atomo-btn-azul-escuro.inverse:link, a.atomo-btn-azul-escuro.inverse:visited {
  color: #041e42;
  border-color: #041e42; }

a.atomo-btn-azul-escuro.inverse:hover, a.atomo-btn-azul-escuro.inverse:focus, a.atomo-btn-azul-escuro.inverse:active,
button.atomo-btn-azul-escuro.inverse:hover,
button.atomo-btn-azul-escuro.inverse:focus,
button.atomo-btn-azul-escuro.inverse:active {
  color: #041e42;
  border-color: #041e42; }

.atomo-btn-azul-medio,
a.atomo-btn-azul-medio,
button.atomo-btn-azul-medio {
  color: #ffffff;
  background: #014e84; }

a.atomo-btn-azul-medio:link, a.atomo-btn-azul-medio:visited {
  color: #ffffff;
  background: #014e84; }

a.atomo-btn-azul-medio:hover, a.atomo-btn-azul-medio:focus, a.atomo-btn-azul-medio:active,
button.atomo-btn-azul-medio:hover,
button.atomo-btn-azul-medio:focus,
button.atomo-btn-azul-medio:active {
  color: #ffffff;
  background: #014e84; }

.atomo-btn-azul-medio.inverse,
a.atomo-btn-azul-medio.inverse,
button.atomo-btn-azul-medio.inverse {
  color: #014e84;
  border-color: #014e84; }

a.atomo-btn-azul-medio.inverse:link, a.atomo-btn-azul-medio.inverse:visited {
  color: #014e84;
  border-color: #014e84; }

a.atomo-btn-azul-medio.inverse:hover, a.atomo-btn-azul-medio.inverse:focus, a.atomo-btn-azul-medio.inverse:active,
button.atomo-btn-azul-medio.inverse:hover,
button.atomo-btn-azul-medio.inverse:focus,
button.atomo-btn-azul-medio.inverse:active {
  color: #014e84;
  border-color: #014e84; }

.atomo-btn-azul-claro,
a.atomo-btn-azul-claro,
button.atomo-btn-azul-claro {
  color: #ffffff;
  background: #0093d0; }

a.atomo-btn-azul-claro:link, a.atomo-btn-azul-claro:visited {
  color: #ffffff;
  background: #0093d0; }

a.atomo-btn-azul-claro:hover, a.atomo-btn-azul-claro:focus, a.atomo-btn-azul-claro:active,
button.atomo-btn-azul-claro:hover,
button.atomo-btn-azul-claro:focus,
button.atomo-btn-azul-claro:active {
  color: #ffffff;
  background: #0093d0; }

.atomo-btn-azul-claro.inverse,
a.atomo-btn-azul-claro.inverse,
button.atomo-btn-azul-claro.inverse {
  color: #0093d0;
  border-color: #0093d0; }

a.atomo-btn-azul-claro.inverse:link, a.atomo-btn-azul-claro.inverse:visited {
  color: #0093d0;
  border-color: #0093d0; }

a.atomo-btn-azul-claro.inverse:hover, a.atomo-btn-azul-claro.inverse:focus, a.atomo-btn-azul-claro.inverse:active,
button.atomo-btn-azul-claro.inverse:hover,
button.atomo-btn-azul-claro.inverse:focus,
button.atomo-btn-azul-claro.inverse:active {
  color: #0093d0;
  border-color: #0093d0; }

.atomo-btn-azul-clarissimo,
a.atomo-btn-azul-clarissimo,
button.atomo-btn-azul-clarissimo {
  color: #ffffff;
  background: #13b5ea; }

a.atomo-btn-azul-clarissimo:link, a.atomo-btn-azul-clarissimo:visited {
  color: #ffffff;
  background: #13b5ea; }

a.atomo-btn-azul-clarissimo:hover, a.atomo-btn-azul-clarissimo:focus, a.atomo-btn-azul-clarissimo:active,
button.atomo-btn-azul-clarissimo:hover,
button.atomo-btn-azul-clarissimo:focus,
button.atomo-btn-azul-clarissimo:active {
  color: #ffffff;
  background: #13b5ea; }

.atomo-btn-azul-clarissimo.inverse,
a.atomo-btn-azul-clarissimo.inverse,
button.atomo-btn-azul-clarissimo.inverse {
  color: #13b5ea;
  border-color: #13b5ea; }

a.atomo-btn-azul-clarissimo.inverse:link, a.atomo-btn-azul-clarissimo.inverse:visited {
  color: #13b5ea;
  border-color: #13b5ea; }

a.atomo-btn-azul-clarissimo.inverse:hover, a.atomo-btn-azul-clarissimo.inverse:focus, a.atomo-btn-azul-clarissimo.inverse:active,
button.atomo-btn-azul-clarissimo.inverse:hover,
button.atomo-btn-azul-clarissimo.inverse:focus,
button.atomo-btn-azul-clarissimo.inverse:active {
  color: #13b5ea;
  border-color: #13b5ea; }

.atomo-btn-verde,
a.atomo-btn-verde,
button.atomo-btn-verde {
  color: #ffffff;
  background: #05adab; }

a.atomo-btn-verde:link, a.atomo-btn-verde:visited {
  color: #ffffff;
  background: #05adab; }

a.atomo-btn-verde:hover, a.atomo-btn-verde:focus, a.atomo-btn-verde:active,
button.atomo-btn-verde:hover,
button.atomo-btn-verde:focus,
button.atomo-btn-verde:active {
  color: #ffffff;
  background: #05adab; }

.atomo-btn-verde.inverse,
a.atomo-btn-verde.inverse,
button.atomo-btn-verde.inverse {
  color: #05adab;
  border-color: #05adab; }

a.atomo-btn-verde.inverse:link, a.atomo-btn-verde.inverse:visited {
  color: #05adab;
  border-color: #05adab; }

a.atomo-btn-verde.inverse:hover, a.atomo-btn-verde.inverse:focus, a.atomo-btn-verde.inverse:active,
button.atomo-btn-verde.inverse:hover,
button.atomo-btn-verde.inverse:focus,
button.atomo-btn-verde.inverse:active {
  color: #05adab;
  border-color: #05adab; }

.atomo-btn-verde-claro,
a.atomo-btn-verde-claro,
button.atomo-btn-verde-claro {
  color: #ffffff;
  background: #81de76; }

a.atomo-btn-verde-claro:link, a.atomo-btn-verde-claro:visited {
  color: #ffffff;
  background: #81de76; }

a.atomo-btn-verde-claro:hover, a.atomo-btn-verde-claro:focus, a.atomo-btn-verde-claro:active,
button.atomo-btn-verde-claro:hover,
button.atomo-btn-verde-claro:focus,
button.atomo-btn-verde-claro:active {
  color: #ffffff;
  background: #81de76; }

.atomo-btn-verde-claro.inverse,
a.atomo-btn-verde-claro.inverse,
button.atomo-btn-verde-claro.inverse {
  color: #81de76;
  border-color: #81de76; }

a.atomo-btn-verde-claro.inverse:link, a.atomo-btn-verde-claro.inverse:visited {
  color: #81de76;
  border-color: #81de76; }

a.atomo-btn-verde-claro.inverse:hover, a.atomo-btn-verde-claro.inverse:focus, a.atomo-btn-verde-claro.inverse:active,
button.atomo-btn-verde-claro.inverse:hover,
button.atomo-btn-verde-claro.inverse:focus,
button.atomo-btn-verde-claro.inverse:active {
  color: #81de76;
  border-color: #81de76; }

.atomo-btn-verde-clarissimo,
a.atomo-btn-verde-clarissimo,
button.atomo-btn-verde-clarissimo {
  color: #ffffff;
  background: #ccff8c; }

a.atomo-btn-verde-clarissimo:link, a.atomo-btn-verde-clarissimo:visited {
  color: #ffffff;
  background: #ccff8c; }

a.atomo-btn-verde-clarissimo:hover, a.atomo-btn-verde-clarissimo:focus, a.atomo-btn-verde-clarissimo:active,
button.atomo-btn-verde-clarissimo:hover,
button.atomo-btn-verde-clarissimo:focus,
button.atomo-btn-verde-clarissimo:active {
  color: #ffffff;
  background: #ccff8c; }

.atomo-btn-verde-clarissimo.inverse,
a.atomo-btn-verde-clarissimo.inverse,
button.atomo-btn-verde-clarissimo.inverse {
  color: #ccff8c;
  border-color: #ccff8c; }

a.atomo-btn-verde-clarissimo.inverse:link, a.atomo-btn-verde-clarissimo.inverse:visited {
  color: #ccff8c;
  border-color: #ccff8c; }

a.atomo-btn-verde-clarissimo.inverse:hover, a.atomo-btn-verde-clarissimo.inverse:focus, a.atomo-btn-verde-clarissimo.inverse:active,
button.atomo-btn-verde-clarissimo.inverse:hover,
button.atomo-btn-verde-clarissimo.inverse:focus,
button.atomo-btn-verde-clarissimo.inverse:active {
  color: #ccff8c;
  border-color: #ccff8c; }

.atomo-btn-rosa,
a.atomo-btn-rosa,
button.atomo-btn-rosa {
  color: #ffffff;
  background: #f7bebe; }

a.atomo-btn-rosa:link, a.atomo-btn-rosa:visited {
  color: #ffffff;
  background: #f7bebe; }

a.atomo-btn-rosa:hover, a.atomo-btn-rosa:focus, a.atomo-btn-rosa:active,
button.atomo-btn-rosa:hover,
button.atomo-btn-rosa:focus,
button.atomo-btn-rosa:active {
  color: #ffffff;
  background: #f7bebe; }

.atomo-btn-rosa.inverse,
a.atomo-btn-rosa.inverse,
button.atomo-btn-rosa.inverse {
  color: #f7bebe;
  border-color: #f7bebe; }

a.atomo-btn-rosa.inverse:link, a.atomo-btn-rosa.inverse:visited {
  color: #f7bebe;
  border-color: #f7bebe; }

a.atomo-btn-rosa.inverse:hover, a.atomo-btn-rosa.inverse:focus, a.atomo-btn-rosa.inverse:active,
button.atomo-btn-rosa.inverse:hover,
button.atomo-btn-rosa.inverse:focus,
button.atomo-btn-rosa.inverse:active {
  color: #f7bebe;
  border-color: #f7bebe; }

.atomo-btn-branco,
a.atomo-btn-branco,
button.atomo-btn-branco {
  color: #041e42;
  background: #ffffff; }

a.atomo-btn-branco:link, a.atomo-btn-branco:visited {
  color: #041e42;
  background: #ffffff; }

a.atomo-btn-branco:hover, a.atomo-btn-branco:focus, a.atomo-btn-branco:active,
button.atomo-btn-branco:hover,
button.atomo-btn-branco:focus,
button.atomo-btn-branco:active {
  color: #041e42;
  background: #ffffff; }

.atomo-btn-branco.inverse,
a.atomo-btn-branco.inverse,
button.atomo-btn-branco.inverse {
  color: #ffffff;
  border-color: #ffffff; }

a.atomo-btn-branco.inverse:link, a.atomo-btn-branco.inverse:visited {
  color: #ffffff;
  border-color: #ffffff; }

a.atomo-btn-branco.inverse:hover, a.atomo-btn-branco.inverse:focus, a.atomo-btn-branco.inverse:active,
button.atomo-btn-branco.inverse:hover,
button.atomo-btn-branco.inverse:focus,
button.atomo-btn-branco.inverse:active {
  color: #ffffff;
  border-color: #ffffff; }

/*# sourceMappingURL=main.css.map */
