$ta-azul:#026cb6;
$ta-azul-escuro:#041e42;
$ta-azul-medio:#014e84;
$ta-azul-claro:#0093d0;
$ta-azul-clarissimo:#13b5ea;

$ta-verde: #05adab;
$ta-verde-claro: #81de76;
$ta-verde-clarissimo: #ccff8c;

$ta-rosa:#f7bebe;

$ta-cinza: #9a9a9a;
$ta-cinza-escuro: #606060;
$ta-cinza-medio: #808080;
$ta-cinza-claro: #ebebeb;
$ta-branco:#ffffff;

/*Azul*/
.ta-bg-azul{
    background: $ta-azul
}
.ta-bg-azul-escuro{
    background: $ta-azul-escuro
}
.ta-bg-azul-medio{
    background: $ta-azul-medio
}
.ta-bg-azul-claro{
    background: $ta-azul-claro
}
.ta-bg-azul-clarissimo{
    background: $ta-azul-clarissimo
}
.ta-text-azul{
    color: $ta-azul
}
.ta-text-azul-escuro{
    color: $ta-azul-escuro
}
.ta-text-azul-medio{
    color: $ta-azul-medio
}
.ta-text-azul-claro{
    color: $ta-azul-claro
}
.ta-text-azul-clarissimo{
    color: $ta-azul-clarissimo
}
/*Verde*/
.ta-bg-verde{
    background: $ta-verde
}
.ta-bg-verde-claro{
    background: $ta-verde-claro
}
.ta-bg-verde-clarissimo{
    background: $ta-verde-clarissimo
}
.ta-text-verde{
    color: $ta-verde
}
.ta-text-verde-claro{
    color: $ta-verde-claro
}
.ta-text-verde-clarissimo{
    color: $ta-verde-clarissimo
}
/*Rosa*/
.ta-bg-rosa{
    background: $ta-rosa
}
.ta-text-rosa{
    color: $ta-rosa
}
/*Cinza*/
.ta-bg-cinza{
    background: $ta-cinza
}
.ta-bg-cinza-escuro{
    background: $ta-cinza-escuro
}
.ta-bg-cinza-medio{
    background: $ta-cinza-medio
}
.ta-bg-cinza-claro{
    background: $ta-cinza-claro
}
.ta-text-cinza{
    color: $ta-cinza
}
.ta-text-cinza-escuro{
    color: $ta-cinza-escuro
}
.ta-text-cinza-medio{
    color: $ta-cinza-medio
}
.ta-text-cinza-claro{
    color: $ta-cinza-claro
}
/*Branco*/
.ta-bg-branco{
    background: $ta-branco
}
.ta-text-branco{
    color: $ta-branco
}

