@import "cores.scss";

*{
  box-sizing: border-box;
}

.atomo-text-decoration-line-through{
  text-decoration: line-through;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.font-bold{
  font-weight: bold;
}
.font-normal{
  font-weight: normal;
}
.font-lighter{
  font-weight: lighter
}
.atomo-margin-top-10{
  margin-top: 10px;
}
.atomo-margin-top-0{
  margin-top: 0px;
}
.atomo-btn-resgate{
  height: 40px;
  border-radius: 0px;
  font-weight: 400;
  border: 0px;
  padding: 0px 20px;
}
.appearance_select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/seta-baixo.jpg) no-repeat #eeeeee;
  background-position: right;
  height:30px;
  border:1px solid #ddd;
  padding-left: 5px;
}

.atomo-bg-white{
  background-color: #ffffff;
}

.quadrado_tag {
  color: #2c6bb0;
  border: 2px solid #2c6bb0;
  border-radius: 3px;
  font-size: 36px;
  padding: 2.5px 10.36px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 3px 3px 3px #a3b5bc;
  font-weight: bold;
  display: inline-block;
}

.container_destinos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.atomo-padding-lf-rg-10 .atomo-padding-10 h3{
  margin-top: 0px;
}

.container_destinos_interno {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-top: 5px;
}

.atomo_destinos {
  min-width: 300px;
  margin: 5px;
  border: 1px solid #eee;
  flex: 1;
}

.atomo_destinos_descritivo {
  margin: 5px;
  flex: 1;
}

.align-self-center{
  align-self: center;
}

.atomo-align-items-baseline{
  align-items: baseline;
}
.atomo-desk-align-items-start{
  align-items: flex-start;
}
.atomo-align-items-center{
  align-items: center;
}
.atomo-mb-mini-align-items-center{
  align-items: center;
}
.atomo-margin-0{
  margin: 0px;
}
.atomo-desk-margin-bt--10{
  margin-bottom: -20px;
}
.atomo-margin-bt-0{
  margin-bottom: 0px !important;
}
.atomo-margin-bottom-25{
  margin-bottom: 25px;
}
.atomo-margin-bt-30{
  margin-bottom: 30px;
}
.atomo-min-width-140{
  min-width: 140px;
}
.atomo-desk-height-100{
  height: 100%;
}

.atomo-width-desk-25{
  width: 25%;
}
.atomo-width-desk-33{
  width: 33.3%;
}
.atomo-width-desk-66{
  width: 66.6%;
}
.atomo-width-desk-50{
  width: 50%;
}
.atomo-width-desk-100{
  width: 100%;
}
.atomo-bord-radius-0{
  border-radius: 0px;
}
.atomo-bord-radius-4{
  border-radius: 4px;
}
.atomo-bord-radius-2{
  border-radius: 2px;
}
.atomo-bord-bottom-1px{
  border-bottom: 1px solid $ta-cinza-claro;
}
.atomo-bord-top-1px{
  border-top: 1px solid $ta-cinza-claro;
}
.atomo-desk-justify-content-end{
  justify-content: flex-end;
}
.atomo-desk-justify-content-start{
  justify-content: flex-start;
}
.atomo-desk-justify-content-center{
  justify-content: center;
}
.atomo-flex-wrap{
  flex-wrap: wrap;
}
.atomo-margin-10{
  margin: 10px;
}
.atomo-padding-10{
  padding: 10px;
}
.atomo-padding-0{
  padding: 0px;
}
.padding-top-5{
  padding-top: 5px;
}
.padding-right-8{
  padding-right: 8px !important;
}
.padding-top-bt-5{
  padding: 5px 0px;
}
.padding-top-5{
  padding-top: 5px;
  padding-bottom: 10px;
}
.padding-bottom-20{
  padding-bottom: 20px;
}
.atomo-padding-lf-10{
  padding-left: 10px;
}
.atomo-padding-rg-10{
  padding-right: 10px;
}
.atomo-padding-lf-rg-10{
  padding: 0px 10px;
}
.atomo-padding-lf-rg-5{
  padding: 0px 5px;
}
.atomo-ds-flex{
  display: flex;
}
.atomo-ds-desk-block{
  display: block;
}
.atomo-ds-desk-inline{
  display: inline;
}
.atomo-ds-desk-inline-block{
  display: inline-block;
}
.atomo-img-responsive{
  max-width: 100%;
  max-height: 100%;
}
.atomo-flex-desk-direction-column{
  flex-direction: column;
}

.atomo-flex-desk-direction-row{
  flex-direction: row;
}
.atomo-padding0px{
  padding: 0px;
}
.atomo-bord-1-cinza-medio{
  border:1px solid $ta-cinza-claro;
}
.atomo-margin-rg-10{
  margin-right: 10px;
}
.atomo-margin-lf-10{
  margin-left: 10px;
}
.atomo-pd-lf-rg-0{
  padding: 0px 0px;
}
.atomo-font-wg-200{
  font-weight:200;
}
.atomo-font-wg-400{
  font-weight:400;
}
.atomo-font-wg-600{
  font-weight:600;
}
.atomo-font-size-27{
  font-size: 27px;
}
.atomo-font-size-32{
  font-size: 32px;
}
.atomo-font-size-40{
  font-size: 30px;
}
.atomo-font-size-42{
  font-size: 42px;
}
.atomo-font-size-20{
  font-size: 20px;
}
.atomo-font-size-52{
  font-size: 52px;
}
.atomo-font-size-18{
  font-size: 18px;
}
.atomo-font-size-16{
  font-size: 16px;
}
.desk-padding-lf-20{
  padding-left: 20px;
}

@media (min-width: 1200px) {
  .atomo-font-size-40{
    font-size: 40px;
  }
}

@media (min-width: 1030px) {
  .atomo-ds-lg-flex{
    display: flex;
  }
  .atomo-desk-padding-rg-25{
    padding-right: 15px;
  }
}

@media (max-width: 990px) {
  .atomo-mb-padding-left-30{
    padding-left: 30px;
  }
  .atomo-mb2-padding-left-20{
    padding-left: 20px;
  }
  .atomo-mb2-padding-left-17{
    padding-left: 17px;
  }
}

@media (min-width: 990px) {
  .atomo-desk-height-60{
    height: 60px;
  }
  .atomo-desk-margin-0{
    margin: 0px;
  }
  #modulo_destinos>div{
    margin-left: 10px;
  }
  .atomo-ds-block-desk-md-col3{
    display: block;
  }
  .atomo-ds-block-desk-md-col4{
    display: block;
  }
}
.atomo-ds-inline-block{
  display: inline-block;
}
.atomo-float-left{
  float: left;
}


@media  (min-width: 1024px) and (max-width: 1200px) {
  .direction-column-espc1{
    flex-direction: column;
  }
}

@media  (min-width: 768px) and (max-width: 990px) {
  .atomo-flex-mb2-direction-column{
    flex-direction: column !important;
  }
  .atomo-flex-mb2-direction-row{
    flex-direction: row !important;
  }
  .atomo-mb2-margin-bottom-10{
    margin-bottom: 10px;
  }
  .atomo-ds-flex-mb{
    display: flex;
  }
  .atomo-ds-mb2-block{
    display: block;
  }
}

@media (max-width: 768px) {
  .mb-padding-lf-20{
    padding-left: 20px;
  }
  .padding-tablet-top-bt-5{
    padding: 5px 0px;
  }
  .atomo-tablet-padding-lf-10{
    padding-left: 10px;
  }
  .atomo-tablet-text-center{
    text-align: center;
  }
  .atomo-mb-margin-bottom-10{
    margin-bottom: 10px;
  }
  .atomo-ds-mb-block{
    display: block;
  }
  .atomo-mb-margin-bt--10{
    margin-bottom: -20px;
  }
  .atomo-width-mb-50{
    width: 50% !important;
  }
  .atomo-width-mb-100{
    width: 100% !important;
  }
  .atomo-flex-mb-direction-column{
    flex-direction: column !important;
  }
  .atomo-flex-mb-direction-row{
    flex-direction: row !important;
  }
  .atomo-mb-justify-content-end{
    justify-content: flex-end !important;
  }
  .atomo-mb-justify-content-start{
    justify-content: flex-start !important;
  }
  .atomo-mb-height-100{
    height: 100% !important;
  }
}

@media (max-width: 374px) {
  .atomo-font-size-27{
    font-size: 27px;
  }
  .atomo-font-size-40{
    font-size: 35px;
  }
  .atomo-ds-mb-mini-block{
    display: block;
  }
  .atomo-mb-mini-align-items-start{
    align-items: flex-start;
  }
  .atomo-flex-mb-mini-direction-column{
    flex-direction: column !important;
  }
  .atomo-flex-mb-mini-direction-row{
    flex-direction: row !important;
  }
}
